<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="dist/style.css")
    title= `${title} | ${h.siteName}`
  body
    block header
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href="/") #{h.siteName}
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon

        div.collapse.navbar-collapse#navbarSupportedContent
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href="#") Home 
            li.nav-item
              a.nav-link(href="/add-doctor") Add Doctor
          
          form.form-inline.my-2.my-lg-0
            input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
            button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search

            ul.navbar-nav
              li
                button.btn.btn-outline-secondary.btn-navbar Sign In
              li
                button.btn.btn-primary Sign Up


      .flash-messages
        - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`flash--${category}`)
                p.flash__text!= message
                button.flash__remove(onClick="this.parentElement.remove()") &times;

      main
        block content
    footer
      block footer   
        script(src="dist/main.bundle.js")